/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */
 html {
   font-family: "Proxima Nova", sans-serif;
 }
.current-temp {
font-family: 'Fredoka One', cursive;
  font-size: 300px;
}
.pn {
  position: absolute;
  top: 10%;
}
@media  (max-width: 1281px) {
  .circ {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}
@media  (max-width: 737px) {
  .current-temp {
  font-size: 250px;
  }
  .circ {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
    .big.pn {
      margin: 0px;
    }
}
@media  (min-width: 737px) {
  .big {
  margin: 0px;
  }
}
@media  (max-width: 550px) {
  .current-temp {
  font-size: 200px;
  }
  .circ {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
@media  (max-width: 465px) {
  .current-temp {
  font-size: 175px;
  }
  .circ {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
@media  (max-width: 335px) {
  .current-temp {
  font-size: 150px;
  padding-left: 2.5%;
  }
  .circ {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.cover { background-size: cover }
/* Cold Weather */
.cold .var {
  background-color: lightblue;
}
.cold .circ {
    background-color: lightblue;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    animation-direction: alternate;
    animation-delay: -1s;
}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
    from {left: 0px;}
    to {left: calc(100% - 60px);}
}
/* Warm Weather */
.warm .var {
  background-color: orange;
}
.warm .circ {
    background-color: orange;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    animation-direction: alternate;
    animation-delay: -1s;
}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
    from {left: 0%;}
    to {left: calc(100% - 60px);}
}
/* Hot Weather */
.hot .var {
  background-color: red;
}
.hot .circ {
    background-color: red;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    animation-direction: alternate;
    animation-delay: -1s;
}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
    from {left: 0px;}
    to {left: calc(100% - 60px);}
}
/* Thunderstorm */
.thunderstorm .var {
  background-color: darkgrey;
}
.thunderstorm .circ {
    background-color: darkgrey;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    animation-direction: alternate;
    animation-delay: -1s;
}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
    from {left: 0px;}
    to {left: calc(100% - 60px);}
}
/* Drizzle */
.drizzle .var {
  background-color: lightgrey;
}
.drizzle .circ {
    background-color: lightgrey;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    animation-direction: alternate;
    animation-delay: -1s;
}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
    from {left: 0px;}
    to {left: calc(100% - 60px);}
}
/* Rain */
.rain .var {
  background-color: blue;
color: white;
}
.rain .circ {
    background-color: blue;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    animation-direction: alternate;
    animation-delay: -1s;
}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
    from {left: 0px;}
    to {left: calc(100% - 60px);}
}
/* Snow */
.snow .var {
  background-color: grey;
}
.snow .circ {
    background-color: grey;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
    animation-direction: alternate;
    animation-delay: -1s;
}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
    from {left: 0px;}
    to {left: calc(100% - 60px);}
}
/* Atmosphere */

/* Clear */

/* Clouds */

/* Calm-Wind */
.wsp .calm {
  font-style: normal;
}
/* Breezy-Wind */
.wsp .breezy {
  font-style: italic;
}
/* Windy-Wind */
.wsp .windy {
  font-style: oblique;
}
